%h1 My tasks

-if @tasks.length == 0
  %p No tasks
-else
  %table
    -@tasks.each do |task|
      %tr
        %td
          =task.title
        %td.delete_link
          =button_to 'x', task, :method => :delete, :class => 'hide_with_js'
          =link_to 'x', task, :method => :delete, :remote => true, :class => 'delete_task hide show_with_js'

%section#new_task
  =link_to 'Add new task', new_task_path, :class => 'hide_with_js'


%div.hide
  =render :partial => 'shared/templates'
